.container {
    width: 250px;
    height: 200px;
    margin: 50px auto;
    border: lightskyblue 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.counter {
    width: 220px;
    height: 100px;
    border: lightskyblue 1px solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spanCounter {
    font-size: 70px;
    font-weight: bold;
    color: lightskyblue;

}

.spanSettings {
    font-size: 15px;
    font-weight: bold;
    color: lightskyblue;

}

.redSpan {
    font-size: 20px;
    font-weight: bold;
    color:red;
}

.red {
    color: red;
}

.wrapper {
    width: 220px;
    height: 50px;
    border: lightskyblue 1px solid;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

